
:root{
--Beige:rgb(255, 238, 215);
--flower:#f24f64;
--dark_flower:#b12040;
}
@font-face {
    font-family: titleFont;
    src: url(Oleo_Script_Swash_Caps/OleoScriptSwashCaps-Regular.ttf);
   
}
@font-face {
    font-family:  bodyFont;
    src: url(Antic_Slab/AnticSlab-Regular.ttf);
   
}

*{
    color: var(--flower);
    background-color: var(--Beige);
   font-family: bodyFont;
    
    
}


h1{
    color: var(--dark_flower);
    font-family:titleFont ;
}

*:active:visited{ color: var(--dark_flower)} /*when click on link color changed*/
