

:root{
--Beige:rgb(255, 238, 215);
--flower:#f24f64;
--dark_flower:#b12040;
}



@font-face {
    font-family: titleFont;
    src: url(Oleo_Script_Swash_Caps/OleoScriptSwashCaps-Regular.ttf);
   
}
@font-face {
    font-family:  bodyFont;
    src: url(Antic_Slab/AnticSlab-Regular.ttf);
   
}

*{
    box-sizing: border-box;
    color: var(--flower);
    background-color: var(--Beige);
   font-family: bodyFont;
   padding: 10px;
    margin: 5px;
    
    
}


h1{
    color: var(--dark_flower);
    font-family:titleFont ;
    text-align: center;
}

*:active:visited{ color: var(--dark_flower)} /*when click on link color changed*/

.gridContainer {
    display: grid;
    grid-template-areas:
    'header header'
    'item1 item2' ;

    background-color: antiquewhite;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
  }

.header{
 grid-area:header;  
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}
.item1{
    grid-area:item1;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item2{
    grid-area:item2;

    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

@media only screen and (max-width: 1000px){
    .gridContainer {
    display: grid;
    grid-template-areas:
    'header'
    'item1'
    'item2'
    
;

background-color: blanchedalmond;
padding: 20px;
margin: 20px;
}
}


