<!doctype html>
<html>
<head>
<title>Contact Us</title>

</head>
<body>
    <h1 style="color: rgb(34, 150, 232);">
Please enter your contact details
    </h1>
<label for="First_Name">First Name</label>
<input type="text" id="First_Name" name="First_Name"><br>

<label for="Last_Name">Last Name</label>
<input type="text" id="Last_Name" name="Last_Name"><br>

<label for="Email">Mail Address</label>
<input type="email" id="Email" name="Email"><br>

<label for="Phone">Phone Number</label>
<input type="tel" id="Phone" name="Phone"><br>

<label for="file">Attach the relevant form </label>
<input type="file" id="file" name="file"><br>

<input type="submit"><br>


    <a href="file:///Users/admin/Desktop/Rotem-Elmalem/templates/Home_Page.html" >Back to home page</a> 
</body>

</html>