<!doctype html>
<html>
<head>
<title>Home Page</title>
<link rel="stylesheet" href="../static/CSS home exersise 2.css">

</head>
<body>
    <h1>Welcome to my home page </h1>
    <img style="width: 15cm;height: 15cm;padding: 10px;border: 2px solid palevioletred;margin: 10px;display: block;" src="../static/flower_image.jpg" ,alt="Flower picture">

    <p>
        Last updated
        <time datetime="2020-04-13">
          April 13rd 2020
        </time>.
      </p>


    <img style="padding: 10px;margin: 10px;display: block;" src="../static/contact_as_images.jpg" ,alt="econtact us icon">
  <a style="border: 3cm;" href="file:///Users/admin/Desktop/Rotem-Elmalem/templates/Contact_Us.html" >Click here</a> 
</body>

</html>