<!doctype html>
<html>
<head>
<title>Home Page</title>

</head>
<body>
    <h1>Welcome to my home page </h1>
    <img style="width: 15cm;height: 15cm;padding: 10px;border: 2px solid blueviolet;margin: 10px;" src="../static/flower_image.jpg" ,alt="error">
    <img style="padding: 10px;margin: 10px;" src="../static/contact_as_images.jpg" ,alt="error">
  <a href="file:///C:/Users/roteme/OneDrive%20-%20C.A.L.%20Cargo%20Airlines/Desktop/%D7%A9%D7%A0%D7%94%20%D7%93/WEB/Rotem-Elmalem/templates/Contact_Us.html" >Click here</a> 
</body>

</html>