<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 


<title>Home Page</title>
<link rel="stylesheet" href="../static/CSS home exersise 2.css">
<script src="../static/rotems_javaScript.js"> </script>


</head>
<body>
    <div class="gridContainer">
    <div class="header">
      <h1 id="title">Welcome to my home page </h1>
     
     </div>

        <div class="item1" >
          <img src="../static/flower_image.jpg" alt="Flower picture" class="Flower_picture">
          
        </div>


        <div class="item2">
          <nav>
              <ul>
                  <li><a href="Home_Page.html">Home</a></li>
                  <li><a href="Contact_Us.html">Contact</a></li>
              </ul>
          </nav>
         

      </div>


            <div class="item3">
              <p>
                Last updated
                <time datetime="2022-05-21">
                  MAY 21rd 2022
                </time>
              </p>
              <nav>
                 
                <a href="https://www.instagram.com/accounts/login/"><img src="../static/insta_icon.jpg" alt="insta_icon" class="animation"></a>
            </nav>
            </div>


    </div>

  </body>

</html>
